# Compiled proto files
proto_build/

# Node modules for the project
node_modules/

protoc/

# Webpack bundle
build/

# Log files
*.log

# protoc-gen
protobuf
protoc-3.2.0rc2-linux-x86_64.zip*

# images
public/src/images/news
public/src/images/companies

# macOS files
.DS_Store
