.green{
	color:#7DEA63 !important;
}

.pnotify-style{
	background: #2b2c2d !important;
	box-shadow: 0px 6px 28px 0px rgba(0,0,0,0.1);
	color:white;
}

.pnotify-style.success {
	background: rgb(0, 140, 0) !important;
	box-shadow: 0px 6px 28px 0px rgba(0,0,0,0.1);
	color:white;
}

.pnotify-style:hover {
	opacity: 0.5 !important;
}

.red{
	color:#FF6939 !important;
}

.cyan {
	color: rgb(60, 231, 231) !important;
}

/* Open orders styling starts */
#open-orders-container tbody {
	display:block;
	height:118px;
	overflow:auto;
}
#open-orders-container thead, tbody ,tr {
	display:table;
	width:100%;
	table-layout:fixed;/* even columns width , fix width of table too*/
	text-align: center;
}

#open-orders-container .no-open-orders {
	top:45%;
	position:relative;
	color:white;
	font-weight:bold;
}

#open-orders-container .dimmer, #open-orders-container .segment {
	min-height: 135px;
	background: #1B1C1D !important;
}

#open-orders-container td.cancel-order-button {
	cursor: pointer;
}
/* Open orders ends */

.ui.pointing.secondary.menu > a.item{
	color:#888e94 !important;
}

.ui.pointing.secondary.menu > a.item.active{
	color:white !important;
}

input{
	background-color:#404a52 !important;
	color:white !important;
}

.ui.tab{
	border:none !important;
}

div.expected-cost {
	color: white;
	font-size: 0.9em;
	font-weight: bold;
	bottom: 7px;
	margin-left: 4px;
	margin-top: 7px;
}

.column {
	margin-top: 1px !important;
	margin-bottom: 1px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.ui.table{
	font-size:0.85em;
	line-height: 2px;
}

.ui.table > tbody > tr > td.volume {
	color: #CED2D5;
}

#top_bar {
	position: fixed;
	top: 0;
	left: 90px;
	right: 0;
	padding: 0 !important;
	height: 50px;
	background: #fff;
	box-shadow: 2px -3px 2px 0px inset rgba(0,0,0,0.97) !important;
	z-index: 2;
}

#search-container {
	margin: 5px 15px;
	width: 385px;
}
#search-container .row {
	padding-left: 0 !important;
	padding-right: 5px !important;
}
#search-container div.text {
	width: 100%;
	position: relative;
}
#search-container div.text * {
	display: inline-block;
}
#search-container div.text .companyName {
	width: 60%;
}
#search-container div.text .search-bar-current-price {
	width: 19.5%;
}
#search-container div.text .search-bar-price-diff {
	width: 19.5%;
}
.search-bar-current-price {
	font-weight: bold;
}
.search-bar-price-diff {
	font-size: small;
	margin-top: 1px;
	margin-left: 3px;
	text-align: right;
}
.search-bar-current-price.profit {
	color: rgb(0, 146, 0);
}
.search-bar-price-diff.profit {
	color: rgb(0, 80, 0);
}
.search-bar-price-diff.profit:after {
	content: "↑";
}
.search-bar-current-price.loss {
	color: rgb(218, 0, 0);
}
.search-bar-price-diff.loss {
	color: rgb(158, 0, 0);
}
.search-bar-price-diff.loss:after {
	content: "↓";
}

/* Notification styling starts */
#notifbutton{
	box-shadow: none !important;
	font-size:20px;
	top:15px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#notifbuttontext {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
}
#notif-component {
	position: absolute !important;
	right: 0;
	top: 0;
	bottom: 3px;
	width: 100px;
	margin: 0 !important;
	position: relative;
	-o-transition: color .2s ease-out,background 0.1s ease-in;
	-ms-transition:color .2s ease-out,background 0.1s ease-in;
	-moz-transition: color .2s ease-out,background 0.1s ease-in;
	-webkit-transition:color .2s ease-out,color .2s ease-out, background 0.1s ease-in;
	transition:color .2s ease-out, background 0.1s ease-in;
}
#notif-component:hover #notifbutton {
	color: white !important;
}

#notif-component:hover{
	background: rgb(74,77,85);
}

.inbox{
	font-size:20px;
}

.notif-item{
	white-space:pre-wrap;
}

/* Notification styling ends */

.profit{
	font-size: 0.85em;
	color:#7DEA63;
}

.loss{
	font-size: 0.85em;
	color:#FF6939;
}

body {
	background: #2f323d;
	font-family: 'Open Sans', sans-serif;
}

.ui.input, .ui.button {
	margin: 3px;
}

#navbar .item.active {
	background: rgb(27,28,29);
}

.main-container {
	margin: 0 !important; /* celled grid adds margin at top & bottom, we don't want it */
	margin-top: 50px !important;
	z-index: 1;
	width: auto; /* overflows without this */
	min-height: 100%;
}

.main-container .column, .main-container .row{
	box-shadow: none !important;
}

.main-container #top_bar {
	box-shadow: 2px -3px 2px 0px inset rgba(0,0,0,0.97) !important
}

#top_bar:after {
	position: absolute;
	content: "This is the Trial round!";
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-decoration: underline;
	font-weight: bold;
	color: #1B1C1D;
}

#tiny-networth {
	position: absolute;
	right: 130px;
	height: 47px;
	top: 0px;
}

#tiny-networth:not(:first-child) {
	top: -14px;
}

#tiny-networth div.box {
	margin: 5px 2px;
	padding: 15px 10px !important;
	font-size: 1.1em !important;
	height: 100%;
}

#tiny-networth h3.green {
	color: rgb(0, 146, 0) !important;
}

#tiny-networth h3.red {
	color: rgb(158, 0, 0) !important;
}

#tiny-networth i.icon {
	font-size: 0.75em;
}

#navbar {
	z-index: 3;
	box-shadow: 0px 0 2px 1px #000 !important;
}

#mymenu{
	max-height:300px;
	overflow-x: hidden;
	min-width:300px;
}

.tab-header{
	color:white;
	list-style:none;
	float:left;
	width:100
}


#myleft, #myright{
	color:white;
	font-size:1.5em;
}

.stock_name{
	color:white;
	margin-bottom: 5px;
}

.stock_price{
	color:#878f95;
	font-size: 0.85em;
	margin-right: 1em;
}

.ticker_item {
	display: inline-block;
	width:20%;
	text-align: center;
	margin-top: 0.5em;
}

.scrolling-wrapper {
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

#ticker-bar {
	width: 87%;
}

.ticker-wrapper {
	width: 100%;	
	position: relative;
}

.ticker-arrow-wrapper {
	position: absolute;
	right: 0;
	top: 10px;
}

.item {
	color:#4a4d55 !important;
}
#navbar .item.active {
	background: rgb(27,28,29);
}

.main-container {
	margin: 0; /* celled grid adds margin at top & bottom, we don't want it */
	width: auto; /* overflows without this */
	height: 100%;
}

.main-container .column, .main-container .row{
	box-shadow: none !important;
}

/* make the navbar thinner */
#navbar .item {
	padding-left: 0.5em;
	padding-right: 0.5em;
	box-shadow: none;
}
#navbar .item .icon {
	font-size: 1.5em !important;
}
#navbar .item:before {
	display: none !important;
}
#navbar .item:hover {
	color: lightgray !important;
	background: rgb(27,28,29);
}
/* push the main container to the left by 90px when navbar is visible.
semantic does this already but we don't like the width of the sidebar. */
#navbar.visible ~ .main-container.pusher {
	transform: translate3d(0px, 0px, 0px); /* override semantic's default */
	margin-left: 90px !important; /* use margin instead to fix row's widths */
}
h3.panel-header {
	color: white !important;
	font-size: 16px;
	padding: 3px;
	margin: 0;
	background: rgba(0,0,0,0.4) !important;
	border-radius: 5px 5px 0 0 !important;
}
#trading-terminal table , #trading-terminal table {
	margin: 0 !important;
	background: #1B1C1D;
	transition: 0.1s all;
}
#trading-terminal table tr td, #trading-terminal table tr td {
	border-bottom: none !important;
}
#place-order-box-menu .ui.tab {
	height: 135px;
}
#market-depth table thead:first-child th:first-child,
#market-depth table thead:nth-child(2) th:nth-child(2),
#market-depth table td:nth-child(2) {
	border-right: 1px solid grey !important;
}

#current-price-container {
	line-height: 50px;
	margin: 0 30px;
}
/* Login styling starts */
#login-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.custom-checker {
	height: 100%;
}

.fakecolumn {
	max-width: 450px;
	min-width: 450px;
}
/* Login styling ends */

.register-hover {
    cursor: pointer;
}

.invert-me{
	background: #404a52 !important;
	color:#fff !important;
}

#country-selector .item{
	background: #404a52 !important;
	color : #fff !important;
}

/* Leaderboard styling starts */

#leaderboard-container {
	min-width: 600px;
}

.leaderboard-pagination {
    display: inline-block;
	margin: 0 auto;
	list-style: none;
	background-color: #444;
	text-align: center;
	padding: 0;
}

.leaderboard-pagination li {
	display: inline-block;
	cursor: pointer;
	line-height: 40px;
	height: 40px;
	width: 40px;
}

.leaderboard-pagination a {
	text-decoration: none;
	color: #fff;
	display: block;
	transition: .3s background-color;
}

.leaderboard-pagination li.active-leaderboard-page a {
	color: #444;
}

.leaderboard-pagination a:not(.break-me):hover {
	background-color: #fff;
	color: #444;
}

.leaderboard-pagination li.active-leaderboard-page {
	background-color: #fff;
	cursor: default;
}

.leaderboard-pagination .break a {
    cursor: default;
}

#leaderboard-container table tr th, #leaderboard-container table tr td {
	height: 2.5em;
	font-size: 1.1em;
}

#my-rank {
	margin: 0 auto;
	box-sizing: border-box;
	padding-left: 10px;
	padding-bottom: 5px;
}

#leaderboard-container .dimmer, #leaderboard-container .segment {
	min-height: 135px;
	background: #1B1C1D !important;
}

/* Leaderboard styling ends */

/* Transactions styling begins */
#transactions-container {
	margin: 5px auto;
}

#transactions-container table tbody {
	display:block;
	height: 325px;
	overflow:auto;
}

#transactions-container table tr th, #transactions-container table tr td {
	height: 2.5em;
	font-size: 1.1em;
}

#load-older-transactions {
	cursor: pointer;
	color: rgb(78, 211, 245) !important;
}

#load-older-transactions:hover {
	color: rgb(60, 226, 162) !important;
}
/* Transactions styling ends */

#networth-container {
	margin: 5px auto;
}
/* Chart styling starts */
#chart-loader {
	min-height: 310px;
	background: #1B1C1D !important;
}

#chart-loader .dimmer {
	background: #1B1C1D !important;
}

.hidden {
	display: none;
}
/* Chart styling ends */

/* Market styling starts here */

#market-top-row {
	background: #1b1c1d;
}

.market-input, .mortgage-input {
	text-align: center;
	width:60px;
	height: 30px;
	background-color: white !important;
	color:#242323 !important;
	border-radius: 5px;
	outline: none;
	border: 1px solid #242323;
	padding: 3px;
}

.market-button {
	height:30px;
}

#market-container table thead th {
	height: 2.5em;
	font-size: 1.1em;
}

/* Market styling ends here */

/* CompanyDetails styling starts here */

#company-details table {
	background: #1B1C1D;
}

#company-details table tr td {
	height: 2.5em;
	font-size: 1.3em;
}

#company-details table tr td:nth-child(1) {
	border-right: 1px solid grey !important;
}

#company-info {
	color: white;
	margin: 0 15px;
	font-size: 1.2em;
}

/* CompanyDetails styling ends here */


/* News styling starts here */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
h1 {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

.no-padding {
	padding-left:0px !important;
	padding-right:0px !important;
}

.no-padding:nth-child(4n+1) {
	padding-left: 10px !important;
}

.no-padding:nth-child(4n) {
	padding-right: 10px !important;
}

.news-card {
	float: left;
	padding: 0 1.7rem;
	width: auto;
}
.news-card .menu-content {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.news-card .menu-content::before, .news-card .menu-content::after {
	content: '';
	display: table;
}
.news-card .menu-content::after {
	clear: both;
}
.news-card .menu-content li {
	display: inline-block;
}
.news-card .menu-content a {
	color: #fff;
}
.news-card .news-wrapper {
	background-color: #fff;
	height: 260px;
	width: 100%;
	position: relative;
	overflow: hidden;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.news-card .news-wrapper:hover .news-data {
	transform: translateY(0);
}
.news-card .news-data {
	position: absolute;
	bottom: 0;
	width: 100%;
	transform: translateY(calc(70px + 1em));
	transition: transform 0.3s;
}
.news-card .news-data .content {
	padding: 1em;
	position: relative;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.5);
}
.news-card .author {
	font-size: 12px;
}
.news-card .title {
	margin-top: 10px;
}
.news-card .text {
	height: 70px;
	margin: 0;
}
.news-element .header {
	color: #fff;
	padding: 1em;
}
.news-element .header::before, .news-element .header::after {
	content: '';
	display: table;
}
.news-element .header::after {
	clear: both;
}
.news-element .header .date {
	float: left;
	font-size: 12px;
}
.news-element .menu-content {
	float: right;
}
.news-element .menu-content li {
	margin: 0 5px;
	position: relative;
}
.news-element .news-data {
	color: #fff;
	transform: translateY(calc(70px + 4em));
}
.news-element .title a {
	color: #fff;
}
.news-element .button {
	display: block;
	width: 100% !important;
	margin: 2em auto 1em;
	text-align: center;
	font-size: 12px;
	color: #fff;
	line-height: 1;
	position: relative;
	font-weight: 700;
}
.news-element .button::after {
	content: '\2192';
	opacity: 0;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
	transition: all 0.3s;
}
.news-element .button:hover::after {
	transform: translate(5px, -50%);
	opacity: 1;
}
.ui .card {
	width: 97% !important;
}
#load-older-news {
	cursor: pointer;
	color: rgb(78, 211, 245) !important;
	margin-left: 18px;
}

#load-older-news:hover {
	color: rgb(60, 226, 162) !important;
}
/* News styling ends here */

/* Disclaimer */
.disclaimer-footer {
	color: white;
	display: inline-block !important;
	text-align: center !important;
}

/* LoadingScreen */
#loading-screen {
	height: 100vh;
	border: none !important;
}
/* Help styling starts here */

#help-container .center {
	margin: auto;
}

#help-container {
	color: white !important;
	font-size: 13px;
	font-weight: lighter !important;
}

#help-container table tr th, #help-container table tr td {
	height: 1.2em;
	font-size: 1.1em;
}

#help-container .image-wrapper {
	display: inline-block;
	text-align: center;
	margin-left: 0px !important;
}

#help-container img {
	width: 70%;
	border: 1px solid white;
}

#help-content .segment {
	font-size: 1.1em;
	background-color: #2b2c2d !important;
}

#help-content .accordion {
	background-color: #2b2c2d !important;
}

#help-content .faq-questions {
	color: white !important;
	font-size: 1.2em !important;
	font-weight: lighter;
}

#help-tab {
	border: none !important;
}

#help-tab .active {
	border: none !important;
	background-color: #2b2c2d;
}

#help-tab .item {
	color: white !important;
	font-size: 1.2em;
}

#help-container h1, #help-container h2, #help-container h3 {
	margin-bottom: 30px;
}

#help-container p {
	margin-left: 40px;
}

#help-container ol {
	margin-left: 40px;
	margin-top: 25px;
	margin-bottom: 10px;
}

#help-container ul {
	margin-left: 40px;
}

#help-container ol ul {
	margin-left: 0px;
	margin-top: 10px;
}

#help-container ol p {
	margin-left: 0px;
}

#help-container strong {
	color:#7DEA63 !important;
}

#help-container .lighter {
	font-weight: lighter;
	font-size: 17px;
	text-align: center;
	margin: 0px;
}

#help-container .content {
	color: #DDDDDD;
}
/* Help styling ends here */

/* Mortgage styling starts here */

#mortgage-container .segment {
	font-size: 1.1em;
	background-color: #2b2c2d !important;
}

#mortgage-tab {
	border: none !important;
}

#mortgage-tab .active {
	border: none !important;
	background-color: #2b2c2d;
}

#mortgage-tab .item {
	color: white !important;
	font-size: 1.2em;
}

/* Mortgage styling ends here */
